<section class="hero pt-4 pb-8">
    <div class="container mx-auto px-28 flex items-center justify-between">
        <div class="w-1/2">
            <h6 class="text-md text-white pb-2"><em><span class="text-teal-400 font-bold">hey, </span>do you need any help?</em></h6>
            <h1 class="text-6xl font-bold text-white">Booking home services,</h1>
            <h1 class="text-6xl font-bold neon">on demand.</h1>
            <div class="py-6 text-lg">
                <ul class="lists text-white">
                    <li class="py-1"><span class="text-teal-400 font-bold tracking-wider pr-2">✓</span> 24*7 online support</li>
                    <li class="py-1"><span class="text-teal-400 font-bold tracking-wider pr-2">✓</span> Ultra-fast services</li>
                    <li class="py-1"><span class="text-teal-400 font-bold tracking-wider pr-2">✓</span> Customer satifaction</li>
                    <li class="py-1"><span class="text-teal-400 font-bold tracking-wider pr-2">✓</span> Book anytime, anywhere</li>
                    <li class="py-1"><span class="text-teal-400 font-bold tracking-wider pr-2">✓</span> Done by Professionals</li>
                </ul>
            </div>
            <button class="px-4 py-2 button rounded-md">Start booking</button>
            <button class="px-4 py-2 rounded-md ml-2 bg-gray-300 text-black">View ratings</button>
        </div>

        <div class="w-1/2 px-4">
            <img src="/img/top5.png" alt="vector">
        </div>
    </div>
    
</section>


<section class="menu container mx-auto px-28 pt-12 pb-20">
    <h1 class="text-4xl font-bold text-white pb-8">Premium Services</h1>
    <div class="grid grid-cols-3 gap-x-16">

        <div class="rounded-lg py-4 card">
            <img class="h-80 mx-auto" src="/img/work2.png" alt="">
            <div class="text-center">
                <h2 class="text-xl tracking-wide text-teal-400 py-4 font-bold">Beautician</h2>
                <h6 class="px-12 text-white pb-8">Get an enlighted home beauty experience with experienced professionals. Get a fast and reliable service.</h6>
                <span></span>
                <div class="flex items-center justify-around text-white">
                    <!-- <span class="py-2 px-4">Price: $120</span> -->
                    <button class="text-white bg-black py-2 px-4 tracking-wide rounded-md">Start Booking</button>
                </div>
            </div>
        </div>

        <div class="rounded-lg py-4 card">
            <img class="h-80 mx-auto" src="/img/work1.png" alt="">
            <div class="text-center">
                <h2 class="text-lg text-teal-400 py-4 font-bold">Health Checkup</h2>
                <h6 class="px-12 text-white pb-8">Get an enlighted home beauty experience with experienced professionals. Get a fast and reliable service.</h6>
                <span></span>
                <div class="flex items-center justify-around text-white">
                    <!-- <span class="py-2 px-4 text-white font-semibold">Price: $120</span> -->
                    <button class="text-white bg-black py-2 px-4 tracking-wide rounded-md">Start Booking</button>
                </div>
            </div>
        </div>

        <div class="rounded-lg py-4 card">
            <img class="h-80 mx-auto" src="/img/work3.png" alt="">
            <div class="text-center">
                <h2 class="text-lg text-teal-400 py-4 font-bold">Event Planner</h2>
                <h6 class="px-12 text-white pb-8">Get an enlighted home beauty experience with experienced professionals. Get a fast and reliable service.</h6>
                <span></span>
                <div class="flex items-center justify-around text-white">
                    <!-- <span class="py-2 px-4 text-white font-semibold">Price: $120</span> -->
                    <button class="text-white bg-black py-2 px-4 tracking-wide rounded-md">Start Booking</button>
                </div>
            </div>
        </div>

    </div>
</section>